<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.spring.basics"/>

    <bean id="fortuneService" class="com.spring.basics.HappyFortuneService"/>

    <bean id="cricketCoach" class="com.spring.basics.CricketCoach">
        <constructor-arg ref="fortuneService" />
    </bean>

    <bean id="footballCoach" class="com.spring.basics.FootballCoach">
        <constructor-arg ref="fortuneService" />
    </bean>

    <bean id="basketballCoach" class="com.spring.basics.BasketballCoach">
        <property name="fortuneService" ref="fortuneService"/>
    </bean>

    <bean id="hockeyCoach"
          class="com.spring.basics.HockeyCoach">
        <constructor-arg ref="fortuneService"/>
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

    <context:property-placeholder location="sport.properties"/>
</beans>